@import url("./monochrome.css");

/* Chat Message Bubbles
============================================================================

/* Message avatar */
.sent > a {
  height: 100%;
  position: absolute;
  bottom: 0;
}
.sent > a > img {
  display: block !important;
  height: 100%;
  position: absolute;
  bottom: 4px;
}
/* Avatar */
#frame .content .messages ul li.sent img.chat-user-image {
  height: 40px;
  width: 40px;
  border-width: 2px !important;
  position: absolute;
}
/* Message header */
.sent > h4 {
  display: block !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--color-grey-bg-2) !important;
  padding: 4px 12px 0 8px;
  margin: 4px 12px 0 48px;
}
/* Message buttons (pm, gift) */
.sent h4 i {
  font-weight: 900;
}
/* Message text */
.sent .text-bright {
  display: block !important;
  border-bottom-right-radius: 15px;
  background-color: var(--color-grey-bg-2) !important;
  padding: 0 12px 4px 8px !important;
  margin: 0 12px 4px 48px !important;
}
/* Bot messages */
.sent > .system {
  border-bottom-left-radius: 15px;
}
.sent > a[href="/users/System"] + h4 {
  display: none !important;
}
.sent > a[href="/users/System"] + h4 + .system {
  background-color: transparent !important;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 2px 0 !important;
  padding: 0 !important;
  width: auto;
  border-radius: 15px;
  left: calc(
    (100vw - 100px - 50px - 30px - 30px - 2px - 10px - 48px) / 2 - 50%
  );
}
@media only screen and (max-width: 767px) {
  .sent > a[href="/users/System"] + h4 + .system {
    left: calc((100vw - 30px - 30px - 2px - 10px - 48px) / 2 - 50%);
  }
}
/* Message triangle tip */
.sent > div:not(.system):before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 38px;
  width: 0;
  border-right: 10px solid var(--color-grey-bg-2);
  border-top: 10px solid transparent;
  /* border-bottom: 10px solid transparent; */
}
/* Entire Message */
#frame .content .messages ul li.sent {
  border: 0;
  display: table;
  max-width: 85%;
  width: auto;
}
/* Timestamp */
#frame .content .messages ul li.sent h4 .text-muted {
  float: none;
}
