:root {
  --color-grey-bg-1: #464646; /* Ratiobar */
  --color-grey-bg-2: #363636; /* Site banner / Panel*/
  --color-grey-bg-3: #292929; /* Navbar */
  --color-grey-bg-4: #212121; /* Site background */
  --color-grey-bg-5: #181818; /* Chat background */

  --color-grey-text-1: #d6d6d6; /* Main titles / Form Text / Highlighted Text */
  --color-grey-text-2: #a6a6a6; /* Regular text and subheadings */
  --color-grey-text-3: #aaaaaa; /* Emphasized text */
  --color-grey-text-4: #696969; /* De-emphasized text */
  --color-grey-text-5: #cccccc; /* Code */
  --color-grey-text-7: #b6b6b6; /* Ratio Bar Text */

  --color-grey-border-1: #565656;
  --color-grey-border-2: #464646; /* button border */
  --color-grey-border-3: #393939; /* panel border */
  --color-grey-border-4: #363636;
  --color-grey-border-5: #444444; /* pre border */

  --color-grey-table-1: #2c2c2c; /* Table rows even */
  --color-grey-table-2: #262626; /* Table rows odd */
  --color-grey-table-3: #c7c7c7; /* Table row text */
  --color-grey-table-4: #292929; /* Table rows Details */
  --color-grey-table-5: #333333; /* Table rows Pinned */

  --color-notifier: #2ecc71; /* For notifications */

  --color-primary: var(--color-grey-bg-2); /* Button background color */
  --color-success: var(--color-grey-bg-2);
  --color-info: var(--color-grey-bg-2);
  --color-warning: var(--color-grey-bg-2);
  --color-danger: var(--color-grey-bg-2);
  --color-light-primary: var(--color-grey-bg-1);
  --color-light-success: var(--color-grey-bg-1);
  --color-light-info: var(--color-grey-bg-1);
  --color-light-warning: var(--color-grey-bg-1);
  --color-light-danger: var(--color-grey-bg-1);
  --color-A200: var(--color-grey-text-2);
  --color-A400: var(--color-grey-text-2);

  --max-width-small: 100% !important;
  --max-width-big: calc(100% - 100px) !important;
}
body {
  background-color: var(--color-grey-bg-4);
}
.label-default {
  background-color: #6f6f6f;
}
/* Buttons
============================================================================ */
/* Primary */
.btn-primary,
.btn-primary:active,
.label-primary {
  background-color: var(--color-primary);
  color: var(--color-grey-text-2);
}
.btn-primary:hover {
  background-color: var(--color-light-primary);
  color: var(--color-grey-text-3);
}
/* Info */
.btn-info,
.btn-info:active,
.label-info {
  background-color: var(--color-info);
}
.btn-info:hover {
  background-color: var(--color-light-info);
}
/* Success */
.btn-success,
.btn-success:active,
.label-success {
  background-color: var(--color-success);
  /* border-bottom-color: transparent; */
}
.btn-success:hover {
  background-color: var(--color-light-success);
}
/* Warning */
.btn-warning,
.btn-warning:active,
.label-warning {
  background-color: var(--color-warning);
  /* border-bottom-color: transparent; */
}
.btn-warning:hover {
  background-color: var(--color-light-warning);
}
/* Danger */
.btn-danger,
.btn-danger:active,
.label-danger {
  background-color: var(--color-danger);
}
.btn-danger:hover {
  background-color: var(--color-light-danger);
} /* BBCode */
.bbcode-spoiler-button,
.btn-default {
  background-color: var(--color-info);
}
.bbcode-spoiler-button:hover,
.btn-default:hover {
  background-color: var(--color-light-info);
}
/* ImgBB */
.imgbb-container .imgbb-button {
  background-color: var(--color-grey-bg-2) !important;
  color: var(--color-grey-text-2);
}
/* All */
.btn {
  border: 1px solid var(--color-grey-border-2) !important;
  color: var(--color-grey-text-2);
  font-weight: normal;
  box-shadow: none;
  background-image: none;
}
.btn:active,
.btn:active:focus,
.btn:active:hover,
.btn:active:hover:focus,
.btn:focus,
.btn:hover,
.imgbb-button:hover {
  background-color: var(--color-grey-bg-1) !important;
  background-image: none;
  box-shadow: none;
  border: 1px solid var(--color-grey-border-2) !important;
  color: var(--color-grey-text-3);
}
/* Large Buttons */
.btn-lg:active,
.btn-lg:active:focus,
.btn-lg:active:hover,
.btn-lg:active:hover:focus,
.btn-lg:focus,
.btn-lg:hover,
.btn-lg:active {
  padding: 10px 16px;
  font-size: 18px;
}
/* Text
============================================================================ */
/* Theme color text */
/* .fa-coins,
.text-orange,
.text-pink,
.text-purple,
.text-success,
.text-black,
.text-blue,
.text-green,
.text-gold,
.text-red {
    color: var(--color-grey-text-2) !important;
} */

/* Labels
============================================================================ */
.label-success {
  border-bottom-color: #448a1f;
}
.label-primary {
  border-bottom-color: #478fdd;
}
.label-info {
  border-bottom-color: rgba(162, 89, 185, 0.81);
}
.label-warning {
  border-bottom-color: #ffb14c;
}
.label-danger {
  border-bottom-color: #f94c54;
}
/* Main Window
============================================================================ */
/* Content */
#hoeapp-wrapper,
#main-content,
.inner-content {
  background-color: var(--color-grey-bg-4);
}
/* Menu Button */
#hoeapp-wrapper[hoe-device-type="phone"]
  .hoe-left-header
  .hoe-sidebar-toggle
  a::after {
  color: var(--color-grey-text-1);
}
/* Left NavBar */
#hoeapp-container[hoe-color-type="lpanel-bg5"].hoe-minimized-lpanel
  #hoe-left-panel {
  background: var(--color-grey-bg-3);
  visibility: visible;
}
/* Hides the left NavBar before it minimizes */
#hoeapp-container[hoe-color-type="lpanel-bg5"]:not(.hoe-minimized-lpanel) {
  visibility: hidden;
}
/* Hide Menu expnanding icon */
.hoe-sidebar-toggle {
    display: none;
}
/* Left NavBar Icons and folders*/
#hoeapp-container[hoe-color-type="lpanel-bg5"]
  #hoe-left-panel
  .panel-list
  > li
  > a:focus,
#hoeapp-container[hoe-color-type="lpanel-bg5"]
  #hoe-left-panel
  .panel-list
  > li
  > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg5"].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:focus
  > a,
#hoeapp-container[hoe-color-type="lpanel-bg5"].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:hover
  > a {
  background: var(--color-grey-bg-3);
}
/* Top NavBar / Site Banner */
.hoe-right-header[hoe-color-type="header-bg5"] {
  background: var(--color-grey-bg-2);
  border: 0 0 0 10px solid var(--color-grey-border-1);
}
/* RatioBar
============================================================================ */

/* RatioBar Container */
.ratio-bar {
  position: static !important;
  background-color: var(--color-grey-bg-1);
  /* width: calc(100% - 50px); */
  /* margin-left: 50px; */
  margin-bottom: 0;
}
/* RatioBar */
.ratio-bar .container-fluid {
  max-width: none !important;
}
/* User Badges (Should not be in here)  */
.ratio-bar .badge-user,
.badge-user,
a .badge-user,
h4 .badge-user,
.col-sm-10 .badge-user {
  background-color: transparent !important;
  border: 0;
  box-shadow: none;
  color: var(--color-grey-text-7);
  font-weight: 400;
  text-shadow: none;
}
/* Upload Icon */
.ratio-bar li:nth-of-type(3) i {
  color: #00bc8c !important;
}
/* Download Icon */
.ratio-bar li:nth-of-type(4) i {
  color: #ff4373 !important;
}
/* Ratio Icon */
.ratio-bar li:nth-of-type(5) i {
  color: #0096bc !important;
}
/* Buffer Icon */
.ratio-bar li:nth-of-type(6) i {
  color: var(--color-grey-text-7);
}
/* Seeding Icon */
.ratio-bar li:nth-of-type(7) i {
  color: #00bc8c !important;
}
/* Leeching Icon */
.ratio-bar li:nth-of-type(8) i {
  color: #ff4373 !important;
}
/* Warnings Icon */
.ratio-bar li:nth-of-type(9) i {
  color: red !important;
}
/* BON Icon */
.ratio-bar li:nth-of-type(10) i {
  color: #ffc00a !important;
}
/* Freeleech Tokens Icon */
.ratio-bar li:nth-of-type(11) i {
  color: #ffc00a !important;
}
/* Chat System
============================================================================ */
/* Username */
.sent .badge-user {
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
}
/* Avatar */
#frame .content .messages ul li.sent img.chat-user-image {
  height: 1.1em;
  width: 1.1em;
  border: 0 !important;
  margin-top: 0.1em;
}
/* Age */
#frame .content .messages ul li.sent h4 .text-muted {
  color: var(--color-grey-text-4);
  display: float;
  float: left;
  margin-top: 5px;
}
/* Message Header */
.sent h4 {
  display: inline;
  margin: 0;
}
/* Message Text */
.sent .text-bright {
  font-size: 16px;
  display: inline-block;
  color: var(--color-grey-text-5);
}
/* System Message Header */
.sent a[href="/users/System"] + h4 {
  display: none;
}
/* Typing popup */
.typing.pull-left {
  color: var(--color-grey-text-3);
}
/* Removes padding below chat tabs */
#frameTabs {
  line-height: 0 !important;
}
/* Fixes status options */
#frameFooter div::after,
#frameFooter #frameWrap::after,
#frameFooter #frameWrap div::after,
#frameFooter #frameWrap div div::after,
#frameFooter #frameWrap div div div::after {
  content: "";
  clear: both;
  display: table;
}
#frameFooter #frameWrap .width-75 {
  height: auto !important;
  width: 100%;
}
/* Fixes last messages being cut off */
#chatbody #frame {
  height: auto;
}
/* Chat Tab Background */
#frameTabs div {
  display: inline-block;
}
#frameTabs {
  background-color: var(--color-grey-bg-2);
  display: block;
}
/* PM Close Button */
#frameTabs .button-right-small {
  width: 30px;
  position: absolute;
  top: -5px;
  right: 0px;
}
#frameTabs .button-right-small div div {
  margin: 0;
}
/* Entire Content */
#frame > .content {
  background-color: var(--color-grey-bg-5);
}
/* Entire Message */
#frame .content .messages ul li.sent {
  border-bottom: 1px dashed var(--color-grey-border-3);
}
/* Navigation tabs
============================================================================ */
/* Tab Container */
.nav-tabs {
  border-bottom: 0;
  background-color: transparent;
  margin-bottom: 0 !important;
}
/* Active / Hovered Tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
  background-color: var(--color-grey-bg-5) !important;
  color: var(--color-grey-text-1) !important;
  border: 0 !important;
}
/* Non-active / Non-hovered Tab Links */
.nav-tabs > li > a {
  background-color: var(--color-grey-bg-1);
  color: var(--color-grey-text-2) !important;
  border: 0 !important;
  white-space: nowrap;
}
/* Tab Link Container */
.nav-tabs > li {
  margin-bottom: 0;
  display: table-cell;
  float: none;
}
/* Nav-tabs below headers */
.header + .container-fluid .nav-tabs {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-grey-border-3);
}
/* Nav-tab links below headers */
.header + .container-fluid .nav-tabs a {
  background-color: var(--color-grey-bg-2) !important; /* remove !important */
  color: var(--color-grey-text-2);
  border: 0;
}
/* Read notification within tab */
.nav-tabs a i.text-danger {
  color: var(--color-grey-text-4);
}
/* Unread notification within tab */
.nav-tabs a i.text-success {
  color: var(--color-notifier);
}
/* Uploader Ranks (Should be under Tables)
============================================================================ */

.tab-pane .table-responsive .table > tbody > tr:nth-child(n) > td {
  background: var(--color-grey-bg-5) !important;
}
/* Navigation Menus
============================================================================ */

.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li {
  border-bottom: none;
}
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a > .fa {
  color: #fff;
}
#hoeapp-container #hoe-left-panel,
#hoeapp-container[hoe-color-type="lpanel-bg5"]
  #hoe-left-panel
  .panel-list
  > li
  > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a {
  background: var(--color-grey-bg-2);
  border-top: 0;
  border-bottom: 1px solid var(--color-grey-border-3);
}
/* SideNav Folders */
#hoeapp-container.hoe-minimized-lpanel #hoe-left-panel .panel-list ul {
  background: var(--color-grey-bg-3);
}
#hoeapp-container[hoe-color-type="lpanel-bg5"]
  #hoe-left-panel
  .panel-list
  ul.hoe-sub-menu
  li
  > a {
  background: var(--color-grey-bg-3);
}
#hoeapp-container.hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:focus
  > a,
#hoeapp-container.hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:hover
  > a {
  background: var(--color-grey-bg-3);
}
/* Blutopia logo background */
.hoe-left-header {
  background: var(--color-grey-bg-2);
}

#hoeapp-container #hoe-left-panel .panel-list > li > a:hover,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:focus,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:hover {
  background: var(--color-grey-bg-3);
}
#hoeapp-container #hoe-left-panel .panel-list > li > a {
  border-top: 1px solid var(--color-grey-border-3);
}
.text-green {
  color: #3fb618;
}
.text-muted {
  color: #999;
}
.carousel-control > .glyphicon,
i.torrent-icon {
  color: var(--color-blue);
}
/* Page Elements
============================================================================ */
/* Main div that surrounds all elements on the page */
.col-md-10 {
  background-color: transparent;
  margin-top: 5px;
  padding-top: 10px;
  border: 0;
  box-shadow: none !important;
}
/* Recenter that div */
.col-md-offset-1 {
  margin-left: 0;
}
/* Panel Headings */
.panel-chat > .panel-heading {
  background-color: var(--color-grey-bg-2);
  padding: 8px;
  margin: 0;
}
/* Panel Footers */
.panel-footer {
  background-color: var(--color-grey-bg-2);
  border: 0;
}
/* Panel Headings Title */
.panel-chat > .panel-heading h4 {
  font-size: 13px;
}
/* NavTabs following panel headers */
.panel-chat > .panel-heading + .nav-tabs {
  background-color: var(--color-grey-bg-2);
}
/* Panels */
.panel {
  border: 1px solid var(--color-grey-border-3);
  border-radius: 0;
  box-shadow: none;
  background-color: var(--color-grey-bg-3);
}
/* Main page container shadow */
.block,
.container > .block,
.container > .box,
.container > .well,
.well {
  box-shadow: none !important;
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
  border-radius: 0;
}
/* Horizontal Rules */
hr {
  border-top-color: var(--color-grey-border-3);
}
/* Panels with Tabs
============================================================================ */
/* Top uploaders table heading */
.panel-heading
  + .nav-tabs
  + .tab-content
  .tab-pane
  .table-responsive
  .table
  thead
  tr
  th {
  background-color: var(--color-grey-bg-5);
}
#l-footer {
  background-color: #1f1f1f;
}
/* Comment Section
============================================================================ */
#comments .panel {
  background-color: transparent !important;
  border: 0;
}
#comments .panel > .panel-heading {
  background-color: transparent !important;
  border: 0;
}
/* Notifications
============================================================================ */
.notify .point {
  background-color: var(--color-notifier);
}
.notify .heartbit {
  border: 4px solid var(--color-notifier);
}
/* Private Messages
============================================================================ */
/* PM Messages */
.message-sent .message-body,
.message-read .message-body,
.message-unread .message-body {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
}
.message-read .message-headers,
.message-sent .message-headers,
.message-unread .message-headers {
  background-color: var(--color-grey-bg-2);
  border: 1px solid var(--color-grey-border-3);
}
.message-read {
  border: 1px solid var;
}
/* Headers
============================================================================ */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.topic-info,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-text-1);
}
/* Progress Bars
============================================================================ */
.progress {
  background-color: var(--color-grey-bg-1);
  border: 0;
}
.progress-bar {
  background-color: var(--color-grey-1);
  border-bottom: 0px solid var(--color-danger) !important;
}
select,
select option {
  background-color: #454545 !important;
}
.bbcode-code,
.bbcode-quote {
  border: 1px solid var(--color-light-blue);
}
.bbcode-quote {
  margin: 0 15px 15px;
}
.footer-icon,
.text-info {
  color: var(--color-400);
}
.badge-extra {
  border: 0;
  background-color: transparent;
}
.badge-user.group-member {
  border: 1px solid rgba(66, 70, 92, 0.61);
  border-radius: 3px;
  background-color: var(--color-grey-bg-2);
  color: var(--color-grey-text-7);
}
.text-bright {
  color: #ccc;
}
a.text-bright:focus,
a.text-bright:hover {
  color: #fcfcfc;
}
.fa-coins,
.text-orange,
.text-pink,
.text-purple,
.text-success {
  color: var(--color-400);
}
.text-danger {
  color: var(--color-warning);
}
.alert-danger,
.alert-default,
.alert-info,
.alert-primary,
.alert-success,
.alert-warning,
.btn-info,
.panel-danger,
.panel-danger > .panel-heading,
.panel-default,
.panel-default > .panel-heading,
.panel-info,
.panel-info > .panel-heading,
.panel-primary,
.panel-primary > .panel-heading,
.panel-success,
.panel-success > .panel-heading,
.panel-warning,
.panel-warning > .panel-heading {
  background-color: var(--color-grey-bg-2) !important;
}
.alert {
  color: #424242;
}
.alert > h2,
.alert > h2 > strong,
.movie-title > a,
.panel > .panel-heading > div > h2,
.panel > .panel-heading > div > h4,
.panel > .panel-heading > h2,
.panel > .panel-heading > h4 {
  color: #000;
}
.panel-chat > .panel-heading > h4 {
  color: #fff;
}
.panel-collapse > .panel-heading {
  background-color: #1b1b1b !important;
}
/* Encapsulates Panels */
/* .container.box {
  background: var(--color-grey-bg-3);
  box-shadow: none;
  border-radius: 0;
  border: 1px solid var(--color-grey-border-3);
} */
.container.box {
  background: transparent;
  box-shadow: none !important;
  border-radius: 0;
  border: 0;
}
/* Torrents description */
.torrent.container.box {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
/* Torrent Page Movie Background */
.movie-overlay {
  background-color: transparent !important;
}
.movie-backdrop {
  filter: brightness(70%) contrast(0.6) blur(5px);
  clip-path: inset(5px round 15px);
  margin-top: -5px;
  margin-left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
/* Torrent Page Movie Meta */
.movie-wrapper .movie-bottom .badge-user {
  text-shadow: 1.3px 1.5px rgba(0,0,0,.8);
  font-weight: 700;
}
/* Torrent Page Cast */
.movie-wrapper .cast-item img {
  clip-path: inset(0 round 10px);
}
/* Torrents Page Buttons */
.torrent-buttons .button-overlay,
.torrent-buttons .vibrant-overlay {
  background: transparent !important;
}
.torrent-buttons a, .torrent-buttons button {
  border: 0 !important;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 12px;
  margin-bottom: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3) !important;
}
.torrent-buttons a:active, .torrent-buttons button:active,
.torrent-buttons a:focus, .torrent-buttons button:focus,
.torrent-buttons a:hover, .torrent-buttons button:hover,
.torrent-buttons a:active:focus, .torrent-buttons button:active:focus,
.torrent-buttons a:active:hover, .torrent-buttons button:active:hover,
.torrent-buttons a:active:hover:focus, .torrent-buttons button:active:hover:focus {
  padding: 10px 12px;
  margin: 0;
  border: 0 !important;
}
.torrent-buttons a:active, .torrent-buttons button:active {
  background-color: var(--color-grey-bg-1) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
.torrent-buttons a:hover, .torrent-buttons button:hover {
  background: var(--color-grey-border-2) radial-gradient(circle, transparent 1%, var(--color-grey-bg-1) 1%) center/15000% !important;
}
/* Profile encapsulation */
.container .block,
.container .well {
  border-radius: 0;
  border: 1px solid var(--color-grey-border-3);
  background-color: var(--color-grey-bg-3);
}
.list-inline {
  color: inherit;
}
/* Page Titles */
.gradient.blue,
.gradient.green,
.gradient.light_blue,
.gradient.orange,
.gradient.pink,
.gradient.purple,
.gradient.red,
.gradient.silver,
.gradient.teal,
.gradient.yellow {
  background-image: transparent;
  background: transparent;
}
#l-footer,
div.header.blue div.inner_content,
div.header.green div.inner_content,
div.header.light_blue div.inner_content,
div.header.orange div.inner_content,
div.header.pink div.inner_content,
div.header.purple div.inner_content,
div.header.red div.inner_content,
div.header.silver div.inner_content,
div.header.teal div.inner_content,
div.header.yellow div.inner_content {
  background-color: transparent !important;
  background-image: none !important;
}
.col-sm-10 {
  width: 100%;
}
.container-fluid {
  max-width: var(--max-width-big);
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container-fluid {
    max-width: var(--max-width-small);
    margin: 0 auto;
  }
}
/* Tables */
.table-responsive {
  /* border: 1px solid var(--color-grey-border-3); */
  color: var(--color-grey-table-3);
}
table {
  background-color: var(--color-grey-bg-3);
  color: var(--color-grey-text-5);
  border: 0px solid var(--color-grey-border-5) !important;
  margin: 0 auto;
  max-width: var(--max-width-big);
}
@media screen and (max-width: 992px) {
  table {
    background-color: var(--color-grey-bg-3);
    color: var(--color-grey-text-5);
    border: 0px solid var(--color-grey-border-5) !important;
    margin: 0 auto;
    max-width: var(--max-width-small);
  }
}
table tbody tr:first-child {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-grey-border-3);
}
table tbody tr {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-grey-border-3);
}
.table-bordered > thead > tr > th {
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--color-grey-border-2);
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid var(--color-grey-border-3);
}
/* Table for torrent details */
.panel .table > tbody > tr:nth-child(n) > td {
  background: var(--color-grey-table-4) !important;
  color: var(--color-grey-text-2);
}
.panel .table > tbody > tr:nth-child(n) > td strong {
  font-weight: 400 !important;
}
.table-bordered > tbody > tr > td {
  border: 0;
}
/* Table Row Odd */
.table > tbody > tr:nth-child(odd) {
  background: var(--color-grey-table-1) !important;
}
.table > tbody > tr:nth-child(odd) > td {
  background: var(--color-grey-table-1) !important;
  border-bottom: 1px solid var(--color-grey-border-4);
}
/* Table Row Even */
.table > tbody > tr:nth-child(even) > td {
  background: var(--color-grey-table-2) !important;
  border-bottom: 1px solid var(--color-grey-border-4);
}
.table > tbody > tr:nth-child(even) {
  background: var(--color-grey-table-2) !important;
}
.table > tbody > tr > td.text-green {
  color: #3fb618 !important;
}
.table > tbody > tr > td.text-red {
  color: var(--color-light-danger) !important;
}
/* Forum messages */
.topic .topic-new-post,
.profil {
  background: var(--color-grey-bg-3);
}
.topic .topic-posts .post article.post-content {
  color: var(--color-grey-text-2);
}
.topic .topic-posts .post .post-signature {
  border-top: 1px solid var(--color-grey-border-3);
}
.topic .topic-posts .post aside.post-info {
  border: 0;
  background-color: var(--color-grey-bg-3);
}
.head {
  background-color: var(--color-grey-bg-2);
  box-shadow: none;
}
.profil {
  padding: 0 0 1em 0;
}
ul.comments-list li {
  background-color: var(--color-grey-bg-2);
  color: var(--color-grey-text-2);
}
/* Form Selectors / Radio Buttons / Layout
============================================================================ */
/* Wells used on Settings */
form[action*="/settings/"] .well {
  border: 1px solid var(--color-grey-border-3);
  background-color: var(--color-grey-bg-3);
  box-shadow: none;
  border-radius: 0;
  padding: 8px;
  margin: 8px 0 !important;
  color: var(--color-grey-text-2);
}
form[action*="change_settings"] .well h3 {
  background-color: transparent;
  margin: 0;
  padding: 12px;
  font-size: 13px;
  font-weight: bold;
}
form[action*="change_settings"] .well hr {
  margin: 0;
  border-top: 0;
}
form[action*="change_settings"] .well .form-group {
  padding: 2px;
  margin-bottom: 0;
}
form[action*="change_settings"] .well .form-group .control-label {
  color: var(--color-grey-text-3);
  font-size: 14px;
  margin: 12px;
  display: inline-block;
  width: 100%;
}
form[action*="change_settings"] .well .form-group select,
form[action*="change_settings"] .well .radio-inline {
  margin-bottom: 12px;
}
form[action*="change_settings"] .well > .control-label {
  color: var(--color-grey-text-3);
  padding: 12px;
  width: 100%;
  display: inline-block;
}
form[action*="change_settings"] well > .radio-inline,
form[action*="change_settings"] .well > .form-control {
  margin: 12px;
  width: 98%;
}
form[action*="change_settings"] .well > .radio-inline > label {
  color: var(--color-grey-text-2);
  font-weight: 400;
  font-size: 13px;
}
form[action*="change_settings"] .well::after {
  content: "";
  clear: both;
  display: table;
}
form[action*="change_settings"] .radio-inline {
  float: left;
}
form[action*="change_settings"] .control-label + .radio-inline {
  margin-left: 20px;
}
/* Radio Buttons on Upload Form*/
.upload-form .radio-inline {
  float: left;
  height: auto;
  position: static;
}
.control-label[for="anonymous"],
.control-label[for="stream"],
.control-label[for="sd"],
.control-label[for="personal_release"],
.control-label[for="internal"],
.control-label[for="freeleech"] {
  margin-left: 20px;
}
/* Seperates general radio buttons from rank-based radio buttons */
.control-label[for="personal_release"] + .radio-inline + .radio-inline + br {
  margin-bottom: 1.5em;
}
.radio-inline input[type="radio"] {
  appearance: checkbox;
  height: 20px;
  display: flex;
  align-items: center;
}
/* Comments radio buttons */
#comments input[type="radio"] {
  appearance: checkbox;
  vertical-align: middle;
}
/* Well used to encapsulate rows in profile */
.profile-footer {
  background-color: var(--color-grey-bg-3);
}
.well .row {
  margin: 0;
}
/* Block surround tables in active/seeds/torrents/etc */
.block {
  background-color: var(--color-grey-bg-4);
  border: 0px;
  box-shadow: none;
}
/* Title for Active/seeds/torrents/etc */
div.block div.inner_content {
  justify-content: left;
}
div.block div.inner_content h1 {
  font-size: 25px !important;
}
/* Filters for Active/seeds/torrents/etc */
.block .container {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
  border-radius: 0px;
  width: 100%;
}
/* links */
a.view-torrent {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-grey-text-2);
}
a.view-torrent:hover {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none !important;
  color: var(--color-grey-text-1) !important;
  -webkit-text-fill-color: var(--color-grey-text-1);
}
/* Main Content */
#main-content {
  margin-top: 0px !important;
}
/* Breadcrumb */
.breadcrumb {
  background-color: var(--color-grey-bg-2);
  border: 0;
  text-align: center;
  width: 100%;
}
.breadcrumb a {
  color: var(--color-grey-text-4);
}
ol.breadcrumb {
  display: inline-block;
}
/* Code blocks */
pre {
  background-color: var(--color-grey-bg-3);
  color: var(--color-grey-text-5);
  border: 1px solid var(--color-grey-border-5);
  width: auto;
}
details summary {
  white-space: normal;
}
/* Thread Title */
.forum-categories .table tbody tr td.f-display-topic-title strong a {
  color: var(--color-grey-text-3) !important;
}
/* Thread Title */
.forum-categories .table tbody tr td.f-display-topic-title strong a:hover {
  color: var(--color-grey-text-1) !important;
}
/* Labels under forum topics for mods */
.topic-new-post .text-center .label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 8px;
}
/* Buttons under forum topics for mods */
.topic-new-post .text-center .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 8px;
  border: 0 !important;
}
/* Buttons at beginning of post */
.topic .topic-info .label {
  display: inline-block;
  width: 140px;
  padding: 6px 12px;
  margin: 6px auto;
}
/* Wysibb Text Editor
============================================================================ */
/* Entire Module */
.wysibb {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-1);
  color: var(--color-grey-text-2);
}
/* Button Row */
.wysibb .wysibb-toolbar {
  background-color: var(--color-grey-bg-1);
  border-bottom: 1px solid var(--color-grey-border-1);
}
/* Button row group */
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
  background-color: var(--color-grey-bg-1);
  border-right: 1px solid var(--color-grey-border-1);
}
/* Individual Button */
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
  background-color: var(--color-grey-bg-1);
  padding: 0;
  margin: 0;
  border: 0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--color-grey-bg-2);
}
/* Selected button */
.wysibb
  .wysibb-toolbar
  .wysibb-toolbar-container
  .wysibb-toolbar-btn.wbb-select {
  border: 0;
  padding: 1px 1px 1px 5px;
}
.wysibb
  .wysibb-toolbar
  .wysibb-toolbar-container
  .wysibb-toolbar-btn.wbb-dropdown {
  border: 0;
}
.wysibb-toolbar-btn ins {
  display: none;
}
/* Tooltip */
.wysibb
  .wysibb-toolbar
  .wysibb-toolbar-container
  .wysibb-toolbar-btn
  span.btn-tooltip {
  border: 1px solid var(--color-grey-border-1);
}
.wysibb
  .wysibb-toolbar
  .wysibb-toolbar-container
  .wysibb-toolbar-btn
  span.btn-inner {
  color: var(--color-grey-text-2);
}
.wysibb
  .wysibb-toolbar
  .wysibb-toolbar-container
  .wysibb-toolbar-btn
  .fonticon {
  text-shadow: none;
}
.wysibb .wysibb-text {
  padding: 0;
  margin: 10px;
}
.wysibb-body,
.wysibb-text textarea {
  background-color: var(--color-grey-bg-3);
}
/* Pagination
============================================================================ */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: var(--color-grey-bg-4);
  border: 1px solid var(--color-grey-border-3);
  margin-top: 0;
}
.pagination > li > a,
.pagination > li > span {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
  color: var(--color-grey-text-2);
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
}
#result .table-responsive {
  border: 0;
}
/* Tips
============================================================================ */
form[action$="tip_uploader"] {
  content: "";
  clear: both;
  display: table;
}
form[action$="tip_uploader"] button {
  background-color: var(--color-primary);
}
form[action$="tip_uploader"] .form-group {
  content: "";
  clear: both;
  display: table;
}
.torrent.box.container .panel:nth-child(8) .col-md-5 {
  white-space: normal;
}
/* Search Filters
============================================================================ */
/* Search Filter Titles */
.label-default {
  border: 0;
  background-color: transparent;
  color: var(--color-grey-text-2);
}
/* Search filter grid */
form .form-group .col-sm-10 {
  display: grid;
  grid: auto / 16% 16% 16% 16% 16% 16%;
  grid-row-gap: 2px;
  text-align: left;
  padding: 2px 0;
  width: 90%;
}
/* Search filter grid */
form .form-group:nth-child(10) .col-sm-10 {
  display: grid;
  grid: auto / 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  grid-row-gap: 2px;
  text-align: left;
  padding: 2px 0;
  width: 90%;
}
/* Search filter cells */
form .form-group .col-sm-10 .badge-user label {
  background-color: transparent;
  border: 0;
}
form .form-group .col-sm-9 {
  width: 90%;
  margin: 2px 0;
}
form .form-group .col-sm-2 {
  width: calc((90% - 30px + 4px) / 5 - 4px);
  padding: 0;
  margin-left: 4px;
}
form .form-group:nth-of-type(6) .col-sm-2 {
  width: calc((90% - 30px + 4px) / 2 - 4px);
  padding: 0;
  margin-left: 4px;
}
form .form-group .col-sm-2:nth-of-type(1) {
  margin-left: 15px;
}
form .form-group div .badge-user {
  text-align: left;
  background-color: transparent;
  box-shadow: none;
}
form .form-group div .badge-user label {
  background-color: var(--color-grey-bg-2);
  padding: 4px;
  margin: 4px 0;
  border-radius: 3px;
  border: 1px solid var(--color-grey-border-5);
}
#facetedFilters .box .fatten-me {
  margin: 1px auto !important;
}
#facetedFilters .from-group.fatten-me {
  margin: 0;
}
/* Minimal search bar */
#facetedDefault .box .container {
  border: 0;
  background-color: transparent;
}
#facetedDefault .box .container .form-group {
  width: 100%;
  max-width: none !important;
}
/* Torrent search cards layout
============================================================================ */
.card.is-torrent .card_head,
.card.is-torrent .card_footer {
  background: var(--color-grey-bg-2);
}
.card.is-torrent .card_body {
  background: var(--color-grey-bg-3);
}
.card.is-torrent {
  background: transparent;
}
.card {
  background: transparent;
}
.card.is-torrent .genre-label {
  box-shadow: none;
  border: 1px solid var(--color-grey-border-3);
}
/* Search Table
============================================================================ */
/* Search Table Rows Odd */
#facetedSearch .table > tbody > tr:nth-child(odd) > td {
  background: var(--color-grey-table-1) !important;
  border-bottom: 1px solid var(--color-grey-border-4);
}
/* Search Table Row Even */
#facetedSearch .table > tbody > tr:nth-child(even) > td {
  background: var(--color-grey-table-2) !important;
  border-bottom: 1px solid var(--color-grey-border-4);
}
/* Remove Genres */
#facetedSearch .table > tbody > tr > td > br:nth-of-type(2) ~ .badge-extra {
  display: none;
}
/* Search torrent table styling */
#facetedSearch .table-responsive {
  border: 0;
}
#facetedSearch .table-responsive .table {
  border: 1px solid var(--color-grey-border-3) !important;
}
/* Make legend background transparent */
#facetedSearch + .well {
  border: 0;
  background-color: transparent;
}
/* Pinned torrent colour */
#facetedSearch .table-responsive .table tbody tr.success td {
  background-color: var(--color-grey-table-5) !important;
}
/* Remove HR after default search */
#facetedDefault .box hr {
  display: none;
}
/* Profile table */
.table-striped tbody tr:nth-child(n) td {
  background: var(--color-grey-table-4) !important;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--color-grey-border-4);
}
/* Form colors */
.form-control[disabled] {
  background-color: var(--color-grey-bg-2);
  border-color: var(--color-grey-border-3);
}
.form-control {
  border-radius: 0;
  background-color: var(--color-grey-bg-1);
  border: 1px solid var(--color-grey-border-1);
  color: var(--color-grey-text-1);
}
/* NavBar Search placeholders */
.form-control::placeholder {
  color: var(--color-grey-text-4);
}
.form-control:-ms-input-placeholder {
  color: var(--color-grey-text-4);
}
.form-control::-webkit-input-placeholder {
  color: var(--color-grey-text-4);
}
.form-control:focus {
  box-shadow: 0 0 0px var(--color-light-blue);
  border: 0px solid var(--color-light-blue);
  color: var(--color-grey-text-1);
}
.form-control > option {
  background-color: var(--color-grey-bg-1);
}
/* alert from torrent upload form / bon pool / rules */
.alert-info,
.alert-warning,
.alert-danger {
  border: 3px solid var(--color-grey-border-1);
  color: var(--color-grey-text-2);
}
.alert h2 strong {
  color: var(--color-grey-text-3);
}
/* Similar page */
.movie-wrapper + .table-responsive .table thead {
  background-color: var(--color-grey-bg-2);
}
.dark-th {
  background-color: var(--color-grey-bg-1);
}
.movie-wrapper + .table-responsive .table thead tr th span {
  color: var(--color-grey-text-1);
}
/* Gallery thumbnails */
.thumbnail {
  background-color: var(--color-grey-bg-3);
  border: 1px solid var(--color-grey-border-3);
}
/* Extra Stats */
div.stats {
  background-color: var(--color-grey-bg-3);
  color: var(--color-grey-text-2);
}
.stats .table-responsive .content .inner_content {
  color: var(--color-grey-text-1);
}
.stats .table-responsive .content .inner_content .inner_stats {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  /* grid-template-areas: 
        "a b c d ."
        "e f g h ."
        "i j k l m"
        "n o p . ."
        "q r s . ."
        "t u v . ."; */
  grid-template-areas:
    ". a a b b c c d d ."
    ". e e f f g g h h ."
    "i i j j k k l l m m"
    ". . n n o o p p . ."
    ". . q q r r s s . ."
    ". . t t u u v v . .";
  grid-row-gap: 2px;
}
div.stat:nth-child(1) {
  grid-area: a;
}
div.stat:nth-child(2) {
  grid-area: b;
}
div.stat:nth-child(3) {
  grid-area: c;
}
div.stat:nth-child(4) {
  grid-area: d;
}
div.stat:nth-child(5) {
  grid-area: e;
}
div.stat:nth-child(6) {
  grid-area: f;
}
div.stat:nth-child(7) {
  grid-area: g;
}
div.stat:nth-child(8) {
  grid-area: h;
}
div.stat:nth-child(10) {
  grid-area: i;
}
div.stat:nth-child(11) {
  grid-area: j;
}
div.stat:nth-child(12) {
  grid-area: k;
}
div.stat:nth-child(13) {
  grid-area: l;
}
div.stat:nth-child(14) {
  grid-area: m;
}
div.stat:nth-child(15) {
  grid-area: n;
}
div.stat:nth-child(16) {
  grid-area: o;
}
div.stat:nth-child(17) {
  grid-area: p;
}
div.stat:nth-child(19) {
  grid-area: q;
}
div.stat:nth-child(20) {
  grid-area: r;
}
div.stat:nth-child(21) {
  grid-area: s;
}
div.stat:nth-child(23) {
  grid-area: t;
}
div.stat:nth-child(24) {
  grid-area: u;
}
div.stat:nth-child(25) {
  grid-area: v;
}
div.stat:nth-child(26) {
  grid-area: w;
}
div.stat:nth-child(27) {
  grid-area: x;
}
.stats .table-responsive .content .inner_content .inner_stats br {
  order: 1;
}
div.stats div.content div.inner_stats div.stat p:first-of-type {
  color: var(--color-grey-text-2);
  font-weight: 400;
}
div.stats div.content {
  color: var(--color-grey-text-4);
}
/* Blockquotes */
.page-content > blockquote {
  background-color: var(--color-grey-bg-3);
  color: var(--color-grey-text-3);
}
/* Headings */
h1 {
  color: var(--color-grey-text-1);
}
h2 {
  color: var(--color-grey-text-2);
}
/* Panel Heading text */
.alert > h2,
.alert > h2 > strong,
.movie-title > a,
.panel > .panel-heading > div > h2,
.panel > .panel-heading > div > h4,
.panel > .panel-heading > h2,
.panel > .panel-heading > h4 {
  color: var(--color-grey-text-1);
}
/* Code */
.page-content code {
  background-color: var(--color-grey-bg-4);
  border: 1px solid var(--color-grey-border-3);
  border-radius: 4px;
  color: var(--color-grey-text-3);
}
/* Modals */
.modal-body .form-group .col-sm-10 {
  float: left;
  grid: none;
  width: 83.333%;
  text-align: unset;
  padding: 0 15px;
}
.modal-body .form-group .col-sm-10 .btn {
  width: 16.666%;
}
.modal-body .form-group .col-sm-2 {
  width: 16.666%;
}
.modal-body .form-group {
  margin: 0;
  padding: 0;
}
.modal-body .form-group label:nth-of-type(1) {
  padding: 0 15px;
  margin: 0 !important;
}
.modal-body .form-group:nth-of-type(1) #title {
  padding: 0;
  margin: 0 !important;
}
/* Mobile fixes */
@media only screen and (max-width: 767px) {
  /* allows ratio bar to disappear when scrolling down*/
  .ratio-bar {
    position: static !important;
    margin-left: 0;
  }
  /* .ratio-bar ul {
      display: grid;
      grid: auto / 50% 50%;
      grid-column-gap: 20px;
  } */
  .ratio-bar ul li {
    display: inline-block;
    width: 45%;
    margin: 3px auto;
    padding: 0;
  }
  /* Allows scrolling sidenav */
  #hoe-left-panel[hoe-position-type="fixed"] {
    position: absolute;
    top: 50px !important;
  }
  #hoeapp-container {
    position: static;
  }
  /* Show Menu expanding icon */
  .hoe-sidebar-toggle {
      display: block;
  }
  /* Prevents hiding of expanded left NavBar */
  #hoeapp-container[hoe-color-type="lpanel-bg5"]:not(.hoe-minimized-lpanel) {
    visibility: visible;
  }
  /* Extra Stats */
  .stats .table-responsive .content .inner_content .inner_stats {
    grid-template-areas:
      "a a b b"
      "c c d d"
      "e e f f"
      "g g h h"
      "i i j j"
      "k k l l"
      ". m m ."
      "n n o o"
      ". p p ."
      "q q r r"
      ". s s ."
      "t t u u"
      ". v v .";
  }
  div.stat:nth-child(1) {
    border-top: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(2) {
    border-top: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(3) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(4) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(7) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(8) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(14) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(17) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  div.stat:nth-child(21) {
    border-bottom: 1px solid var(--color-grey-border-3);
  }
  /* Search filters */
  form .form-group .col-sm-10 {
    display: grid;
    grid: auto / 50% 50%;
    grid-row-gap: 2px;
    text-align: left;
    padding: 0px 0;
  }
  form .form-group .col-sm-2 {
    width: 80%;
    padding: 0;
    margin: 2px auto;
  }
  form .form-group:nth-of-type(6) .col-sm-2 {
    display: inline-block;
    width: 40%;
    padding: 0;
    margin: 2px auto;
  }
  form .form-group .col-sm-2:nth-of-type(1) {
    margin: 2px auto;
  }
  /* Torrent tables appearance */
  #facetedSearch .table-responsive .table thead tr th:nth-child(1) {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(2) {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(3) {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(5) {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(6) {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(7) .fas {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(8) .fas {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(9) .fas {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(10) .fas {
    display: none;
  }
  #facetedSearch .table-responsive .table thead tr th:nth-child(11) .fas {
    display: none;
  }
  #facetedSearch .table-responsive .table tbody tr:nth-child(odd) td {
    background-color: var(--color-grey-table-1) !important;
  }
  #facetedSearch .table-responsive .table tbody tr:nth-child(even) td {
    background-color: var(--color-grey-table-2) !important;
  }
  #facetedSearch .table-responsive .table tbody tr td {
    display: inline-block !important;
  }
  /* Poster */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(1) {
    width: 25% !important;
    height: 100px !important;
    float: left;
  }
  /* TV / Movie / Fanres Icon */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(2) {
    width: 50% !important;
    height: 50px !important;
    float: left;
  }
  /* Type and Resolution */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(3) {
    width: 50% !important;
    height: 50px !important;
    margin: 0;
    padding: 0;
    float: left;
  }
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(3) div {
    margin: 4px 0;
    height: 33%;
    width: 50%;
    display: inline-block;
  }
  /* Title and icons */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(4) {
    width: 100% !important;
    display: block !important;
    float: left;
  }
  /* Download Button */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(5) {
    width: 25% !important;
    height: 50px !important;
    margin: 0;
    padding: 6px;
  }
  /* Download Button button*/
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(5) a button {
    width: 100% !important;
    height: 100% !important;
    margin: 4px 0;
  }
  /* Bookmark Button */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(6) {
    width: 25% !important;
    height: 50px !important;
    margin: 0;
    padding: 6px;
  }
  /* Bookmark Button button*/
  #facetedSearch
    .table-responsive
    .table
    tbody
    tr
    td:nth-of-type(6)
    span
    button {
    width: 100% !important;
    height: 100% !important;
    margin: 4px 0;
  }
  /* Age */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(7) {
    width: 30% !important;
    height: 30px !important;
    margin: 0;
    float: left;
  }
  /* Size */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(8) {
    width: 25% !important;
    height: 30px !important;
    margin: 0;
    float: left;
  }
  /* Seeds */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(9) {
    width: 10% !important;
    height: 30px !important;
    margin: 0;
    float: left;
  }
  /* Peers */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(10) {
    width: 10% !important;
    height: 30px !important;
    margin: 0;
    float: left;
  }
  /* Snatched */
  #facetedSearch .table-responsive .table tbody tr td:nth-of-type(11) {
    width: 25% !important;
    height: 30px !important;
    margin: 0;
    float: left;
  }
  /* Buttons in e.g. mod queue */
  .table-responsive .btn {
    width: 100%;
  }
  /* Card layout */
  /* Each card */
  .card.is-torrent {
    margin-bottom: 10px;
    height: auto !important;
  }
  /* Card Header */
  .card.is-torrent .card_head {
    height: 100%;
  }
  /* Remove genres */
  .card.is-torrent .card_body .body_description .genre-label {
    display: none;
  }
  /* Prevent nav-tabs from top/bottom padding */
  .panel .nav-tabs {
    padding-top: 0;
    padding-bottom: 0;
  }
  .panel .nav-tabs .col-md-6 {
    margin-bottom: 0;
  }
  .panel-heading + .nav-tabs + .tab-content .tab-pane .table-responsive {
    border: 0;
  }
  /* =======================================================================
                                    Forums
     ======================================================================= */
  /* Allows browsing forums */
  #hoeapp-wrapper {
    overflow-x: visible;
  }
  /* Mod forum labels */

  .topic-new-post .text-center .label,
  .topic-new-post .text-center .btn {
    width: 50%;
  }
  /* Buttons at beginning of post */
  .topic .topic-info .label {
    display: block;
    width: 50%;
    padding: 6px 12px;
    margin: 6px auto;
  }
  .forum-categories .table thead:nth-child(n) tr,
  .forum-categories .table thead:nth-child(n) tr th {
    background-color: var(--color-grey-bg-2) !important;
  }
  /* Forum Headers
  ========================================================================== */
  /* Icon Header, Latest Header, Icon Column, Forum Description */
  .forum-categories .table thead:nth-of-type(3n) tr th:nth-child(1),
  .forum-categories .table thead:nth-of-type(3n) tr th:nth-child(5),
  .forum-categories .table tbody tr td:nth-child(1),
  .forum-categories .table tbody tr td:nth-child(2) span:nth-child(2) {
    display: none !important;
  }
  /* Forum, buttons, and [Name, Posts, Topics] Headers */
  .forum-categories .table thead,
  .forum-categories .table thead tr,
  .forum-categories .table thead tr td {
    display: inline-block;
    width: 100%;
    background-color: var(--color-grey-bg-2);
  }
  /* Forum Name */
  .forum-categories .table thead tr td div.header,
  .forum-categories .table thead tr td div.header div.inner_content {
    position: static !important;
    width: 100%;
    display: inline-block;
  }
  /* Forum headers */
  .forum-categories .table thead:nth-of-type(3n) tr {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 20% 20%;
    grid-template-areas:
      "name posts topics";
  }
  /* Name Header */
  .forum-categories .table thead:nth-of-type(3n) tr th:nth-child(2) {
    grid-area: name;
  }
  /* Posts Header */
  .forum-categories .table thead:nth-of-type(3n) tr th:nth-child(3) {
    grid-area: posts;
  }
  /* Topics Header */
  .forum-categories .table thead:nth-of-type(3n) tr th:nth-child(4) {
    grid-area: topics;
  }
  /* SubForum Background
  ========================================================================== */
  .forum-categories .table tbody tr td {
    display: inline-block;
    margin: 0;
  }
  /* All SubForum Info Odd */
  .forum-categories .table tbody tr:nth-child(odd) td {
    background-color: var(--color-grey-table-1);
  }
  /* All SubForum Info Even */
  .forum-categories .table tbody tr:nth-child(even) td {
    background-color: var(--color-grey-table-2);
  }
  /* SubForum Information
  ========================================================================== */
  /* Forum Category */
  .forum-categories .table thead tr td div.header div.inner_content h1,
  .forum-categories .table thead tr td div.header div.inner_content div {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 100%;
    word-break: break-all;
  }
  /* Forum Name Container*/
  .forum-categories .table tbody tr td:nth-of-type(2) {
    width: 59%;
    height: auto;
    display: inline-block;
  }
  /* Forum Name */
  .forum-categories .table tbody tr td:nth-of-type(2) span h4 {
    margin: 0;
    padding: 2px;
  }
  /* Forum Name Link */
  .forum-categories .table tbody tr td:nth-of-type(2) span h4 a {
    color: var(--color-grey-text-3) !important;
  }
  /* Forum name Link Hover */
  .forum-categories .table tbody tr td:nth-of-type(2) span h4 a:hover {
    color: var(--color-grey-text-1) !important;
  }
  /* Forum Total Posts */
  .forum-categories .table tbody tr td:nth-of-type(3) {
    width: 20%;
    height: 100%;
    display: inline-block;
  }
  /* Forum Total Topics */
  .forum-categories .table tbody tr td:nth-of-type(4) {
    width: 20%;
    display: inline-block;
  }
  /* Forum Last Post Container */
  .forum-categories .table tbody tr td:nth-of-type(5) {
    width: 100% !important;
    display: block !important;
    float: left;
  }
  /* "Last message - author" icon authorname and "Topic >" Last Topic */
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(1),
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(2) {
    visibility: hidden;
  }
  /* Last Author Link and Last Topic Link */
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(1) a,
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(2) a {
    visibility: visible;
    float: left;
    color: var(--color-grey-text-2);
  }
  /* Last Author Link and Last Topic Link */
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(1) i,
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(2) i {
    padding: 3px;
    visibility: visible;
    float: left;
  }
  /* Last Post Age */
  .forum-categories .table tbody tr td:nth-of-type(5) span:nth-of-type(3) {
    float: left;
    color: var(--color-grey-text-4);
  }
  /* Within The SubForum
  ========================================================================== */
  /* Thread Title Container */
  .forum-categories .table tbody tr td.f-display-topic-title {
    float: left;
    word-break: break-all;
    width: 100%;
    display: block;
  }
  /* Thread Title Link Container */
  .forum-categories .table tbody tr td.f-display-topic-title strong {
    width: 100%;
    float: none;
    display: block;
  }
  /* Thread Title */
  .forum-categories .table tbody tr td.f-display-topic-title strong a {
    display: block;
    word-break: break-all;
    width: 100%;
    color: var(--color-grey-text-3) !important;
  }
  /* Tags */
  .forum-categories .table tbody tr td.f-display-topic-title span {
    display: inline-block;
    word-break: break-all;
    padding: 3px;
    margin: 3px;
    width: 50%;
    color: var(--color-grey-text-3) !important;
  }
  /* Thread Starter */
  .forum-categories .table tbody tr td.f-display-topic-started {
    float: left;
    width: 40%;
  }
  /* Views / Posts */
  .forum-categories .table tbody tr td.f-display-topic-stats {
    float: right;
    width: 50%;
  }
  /* Author and date of most recent post */
  .forum-categories .table tbody tr td.f-display-topic-last-post {
    float: right;
    width: 50%;
  }
  /* Tidy up buttons */
  .button-holder .button-left a,
  .button-holder .button-right a {
    width: 50%;
    display: block;
    margin: 3px auto;
  }
  .button-holder .button-left,
  .button-holder .button-right {
    margin-bottom: 10px;
  }
  .button-holder .btn {
    width: 100%;
  }
  /* Keep youtube videos small enough */
  iframe {
    max-width: 100%;
    max-height: 50vw;
  }
  /* =======================================================================
                                Requests Table
     ======================================================================= */
  a[href$="requests/add"] + #requests-table {
    width: 100%;
    display: block;
  }
  /* Table header and body */
  #requests-table thead,
  #requests-table tbody {
    display: block;
    width: 100%;
  }
  /* Cells */
  #requests-table tr td {
    width: 100%;
    display: grid;
    padding: 0;
    margin: 0;
    border: none;
  }
  /* Request Column Headers
  ========================================================================== */
  /* Headers */
  #requests-table thead tr {
    display: flex;
    justify-content: space-around;
    height: 30px;
  }
  /* Header Cell */
  #requests-table tr th {
    display: flex;
    width: 11.1%;
    justify-content: center;
    border: 0;
  }
  /* Sorting image */
  #requests-table i[class*="fa-sort-amount-up"],
  #requests-table i[class*="fa-sort-amount-down"],
  #requests-table i[class*="fa-sort-alt"] {
    display: none;
  }
  /* Original Column label */
  #requests-table tr th div {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 0;
    height: 22px;
  }
  /* Hide Original Column label */
  #requests-table tr th div {
    visibility: hidden;
  }
  /* Don't Hide Bounty Column label */
  #requests-table tr th:nth-child(8) div {
    visibility: visible;
  }
  /* New Column label */
  #requests-table tr th div::before {
    display: block;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: static;
    padding: 0;
    margin: 0;
    visibility: visible;
  }
  /* Name */
  #requests-table tr th:nth-child(1) div::before {
    content: "\f031";
  }
  /* Category */
  #requests-table tr th:nth-child(2) div::before {
    content: "\f87c";
  }
  /* Type */
  #requests-table tr th:nth-child(3) div::before {
    content: "\f1c8";
  }
  /* Resolution */
  #requests-table tr th:nth-child(4) div::before {
    content: "\f00a";
  }
  /* Bounty */
  #requests-table tr th:nth-child(8) div {
    color: darkgoldenrod;
  }
  /* Age */
  #requests-table tr th:nth-child(9) div::before {
    content: "\f254";
  }
  /* Author, Votes, Comments, Status */
  #requests-table tr th:nth-child(5),
  #requests-table tr th:nth-child(6),
  #requests-table tr th:nth-child(7),
  #requests-table tr th:nth-child(10) {
    display: none;
  }
  /* Request Rows
  ========================================================================== */
  #requests-table tr {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
      "title  title title"
      "res    type  cat"
      "bounty age   status";
  }
  #requests-table tr td span {
    border-radius: 0;
    margin: 0;
    padding: 5px 0;
  }
  #requests-table tr:nth-child(even) td span,
  #requests-table tr:nth-child(even) td a {
    background-color: var(--color-grey-table-1);
  }
  #requests-table tr:nth-child(odd) td span,
  #requests-table tr:nth-child(odd) td a {
    background-color: var(--color-grey-table-2);
  }
  /* Title */
  #requests-table tr td:nth-child(1) {
    grid-area: title;
    white-space: normal;
  }
  #requests-table tr td:nth-child(1) a {
    position: static;
    font-weight: bold !important;
    padding: 5px;
    word-break: break-all;
  }
  /* Category */
  #requests-table tr td:nth-child(2) {
    grid-area: cat;
  }
  /* Type */
  #requests-table tr td:nth-child(3) {
    grid-area: type;
  }
  /* Resolution */
  #requests-table tr td:nth-child(4) {
    grid-area: res;
  }
  /* Dimmed Resolution Text Colour */
  #requests-table tr td:nth-child(4) span {
    color: var(--color-grey-text-4);
  }
  /* Bounty */
  #requests-table tr td:nth-child(8) {
    grid-area: bounty;
  }
  #requests-table tr td:nth-child(8) span {
    color: darkgoldenrod;
  }
  #requests-table tr td:nth-child(8) span::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f51e";
  }
  /* Age */
  #requests-table tr td:nth-child(9) {
    grid-area: age;
  }
  /* Status */
  #requests-table tr td:nth-child(10) {
    grid-area: status;
  }
  /* Hide Author, Votes, Comments */
  #requests-table tr td:nth-child(5),
  #requests-table tr td:nth-child(6),
  #requests-table tr td:nth-child(7) {
    display: none;
  }
}
